@namespace EldoMvideo.Views.Home
@using EldoMvideo
@{
    ViewBag.Title = "ЭльдоМвидео";
}

<div class="jumbotron mt-4">
    <h1 class="display-4">Добро пожаловать в ЭльдоМвидео!</h1>
    <p class="lead">Мы предлагаем вам лучшие товары по самым выгодным ценам.</p>
</div>
<div class="container mt-4">
    <div class="row row-cols-2 row-cols-sm-1 gap-3">
        <a href="@Url.Action("Catalog", "Home", new { category = "smartphones" })" class="btn card text-center text-decoration-none rounded-lg" style="width: 25rem; height: 30rem">
            <div class="card-body">
                <h5 class="card-header">Смартфоны</h5>
                <div style="height: 20rem; width: 18rem" class="align-content-center">
                    <img src="https://c.dns-shop.ru/thumb/st1/fit/0/0/814e780b3c01d47300d5f4023509e7af/1a8646ce7b6570c6092d5cb945f4b46d913a5f5e065d97ab36512fcf8393a913.jpg.webp" class="card-img-top rounded-top" alt="Смартфоны">
                </div>
                <p class="card-text">Откройте для себя лучшие смартфоны.</p>
            </div>
        </a>
        <a href="@Url.Action("Catalog", "Home", new { category = "laptops" })" class="btn card text-center text-decoration-none rounded-lg" style="width: 25rem; height: 30rem">
            <div class="card-body">
                <h5 class="card-header">Ноутбуки</h5>
                <div style="height: 20rem; width: 18rem" class="align-content-center">
                    <img src="https://c.dns-shop.ru/thumb/st1/fit/0/0/fbd99062f07c819702a5600c919375bd/03916a3f7b13ff40da0d9922bffaa2cd2efac03bc649365586ee6c5e3ceb1914.jpg.webp" class="card-img-top rounded-top" alt="Ноутбуки">
                </div>
                <p class="card-text">Лучшие модели ноутбуков по доступным ценам.</p>
            </div>
        </a>
        <a href="@Url.Action("Catalog", "Home", new { category = "accessories" })" class="btn card text-center text-decoration-none rounded-lg" style="width: 25rem; height: 30rem">
            <div class="card-body">
                <h5 class="card-header">Аксессуары</h5>
                <div style="height: 20rem; width: 18rem" class="align-content-center">
                    <img src="https://c.dns-shop.ru/thumb/st1/fit/500/500/ae36b984ec07214c2bee3421499a6e3d/c3f6a21d61da0374b05872a8849da2c9cd9c5cb617cf5e5203e72edf2670705f.jpg.webp" class="card-img-top rounded-top" alt="Аксессуары">
                </div>
                <p class="card-text">Найдите лучшие аксессуары для ваших устройств.</p>
            </div>
        </a>
    </div>
</div>



