@model TModel

@{
    Layout = null;
}

<footer class="border-top footer">
    <div class="container">
        &copy; 2024 - EldoMvideo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>