@model Product

@{
    Layout = null;
}

<div class="card rounded" style="width: 25rem; height: 35rem; background-color: #E6E6FA">
    <a class="card-body align-content-center btn" href="/Home/Details/@Model.id">
        <img class="card-img " src="@Model.pic_link">
        <p class="card-text">@Model.product_name</p>
        <p class="card-text">@Model.price₽</p>
        <a class="btn btn-success" href="/Home/AddToCart?ID=@Model.id&Path=/Home/Catalog">Добавить в корзину</a>
    </a>
</div>