

<footer class="footer mt-5 py-4 bg-dark text-light">
    <div class="container text-center">
        <div class="row">
            <!-- Логотип и копирайт -->
            <div class="col-md-4">
                <h5>EldoMvideo</h5>
                <p>&copy; 2024 EldoMvideo. Все права защищены.</p>
            </div>
            
            <div class="col-md-4">
                <h5>Контакты</h5>
                <p>📍 <strong>Адрес:</strong> <span>Улица Пушкина дом Колотушкина</span></p>
                <p>📞 <strong>Телефон:</strong> <span>8 (800) 555-35-35</span></p>
                <p>✉ <strong>Email:</strong> <a href="mailto:isip_a.d.polezhaykovsky@mpt.ru" class="text-light">your-email@example.com</a></p>
            </div>
            
            <div class="col-md-4">
                <h5>Мы в соцсетях</h5>
                <a href="https://vk.com/alexpolezh" class="text-light me-3">
                    <img src="~/images/icons8-vk-50.png" alt="VK" style="width: 30px;">
                </a>
                <a href="https://t.me/strhzy" class="text-light me-3">
                    <img src="~/images/icons8-telegram-50.png" alt="Telegram" style="width: 30px;">
                </a>
            </div>
        </div>
        
        <div class="mt-3">
            <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-light">Политика конфиденциальности</a>
        </div>
    </div>
</footer>