@using Microsoft.AspNetCore.Mvc
@using Newtonsoft.Json
@{
    Account? account = null;
    
    if (Context.Request.Cookies.ContainsKey("account"))
    {
        account = JsonConvert.DeserializeObject<Account>(Context.Request.Cookies["account"]);
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EldoMvideo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EldoMvideo.styles.css" asp-append-version="true" />

</head>
<body style="background-color: #DCD2ED">
    @Html.DisplayFor(model => account, "_Header")
    
    <div class="container" style="margin-top: 5em">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @{ await Html.RenderPartialAsync("_Footer");}
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
